# Ignorar node_modules para que no se copien a la imagen
node_modules

# Ignorar archivos de Git
.git
.gitignore

# Ignorar archivos de entorno
.env

# Ignorar Dockerfile y docker-compose.yaml
Dockerfile
docker-compose.yaml

